@import url('https://fonts.googleapis.com/css?family=Ultra');

.site-header {
  background: #0776a9;
}

.site-header .site-header__text {
  color: #fff;
  font-family: 'Ultra', serif;
  font-size: 25px;
  margin: 19px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-header__icon {
  position: relative;
  top: 1px;
  vertical-align: bottom;
}

.single-member {
  margin: 20px auto;
  width: 800px;
}

.member-list {
  margin: 10px auto;
  width: 800px;
}

.member-list__header-card {
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 30px;
  min-height: auto;
  width: 100%;
}

.member-list__header-card h2 {
  color: #eaeaea;
  font-size: 29px;
  font-weight: 200;
}

.member-list__header-card .member-list__state-icon {
  display: inherit;
  font-size: 50px;
  margin-right: 7px;
}

.member-list .member-card {
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .site-header .site-header__text {
    margin: 19px 0;
    text-align: center;
  }

  .member-list,
  .single-member {
    margin: 0 auto;
    margin-top: 5px;
    min-width: 315px;
    width: 98%;
  }

  .member-list__header-card {
    display: block;
    margin-top: 5px;
    width: auto;
  }
}
