#member-list {
  list-style: none;
  margin: 30px auto;
  width: 800px;
}

#member-list .congress-member {
  margin: 10px;
}

#member-list .congress-member__name {
  font-weight: bold;
  font-size: 30px;
}

#member-list .congress-member__title {
  font-size: 20px;
  color: #888;
}

#search-box {
  display: block;
  font-size: 20px;
  margin: 300px auto;
  padding: 10px;
  text-align: center;
  transition: margin .2s;
  width: 400px;
}

#search-box.collapsed {
  margin: 10px auto;
}

.more-box {
  background: #fff;
  border: solid black;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 500px;
}
