.member-card {
  position: relative;
  margin: 150px auto;
  width: 800px;
}

.member-card__title {
  background: #fafafa;
}

.member-card__chips {
  position: absolute;
  right: 20px;
  top: 10px;
}

.member-card__state-chip-icon {
  font-size: 21px;
  left: 3px;
  position: relative;
}

.member-card_contact-picture {
  vertical-align: top;
}

.member-card__phone {
  display: inline-block;
  margin-left: 3px;
  vertical-align: top;
  transition: color .3s;
}

.member-card__phone:hover {
  color: #555;
}

.member-card__phone-icon {
  font-size: 120px;
  display: inline-block;
  vertical-align: top;
}

.member-card__hangout-button {
  display: inline-block;
  margin-top: 4px;
}

.member-card__hangout-button p {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 5px 0;
  text-align: center;
}

.member-card__or {
  background: #dedede;
  border-radius: 50%;
  color: #888;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 41px;
  font-style: italic;
  font-weight: 200;
  height: 80px;
  line-height: 80px;
  margin: 10px;
  text-align: center;
  text-indent: -10px;
  text-transform: uppercase;
  width: 80px;
}

.member-card__contact-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.member-card__contact-list-item {
  display: block;
  margin-bottom: 10px;
  min-height: auto;
  padding: 0;
}

.member-card__contact-list-item a {
  color: #555;
  font-weight: 200;
  text-decoration: none;
}

.member-card__contact-list .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 8px;
}
