.member-card {
  position: relative;
  width: 100%;
}

.member-card__title {
  background: #f1f1f1;
}

.member-card_contact-picture {
  vertical-align: middle;
}

.member-card__phone {
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  transition: color .3s;
}

.member-card__phone:hover {
  color: #555;
}

.member-card__phone-icon {
  font-size: 120px;
  display: inline-block;
  vertical-align: top;
}

.member-card__hangout-button {
  display: inline-block;
  margin-top: 4px;
}

.member-card__hangout-button p {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 5px 0;
  text-align: center;
}

.member-card__or {
  background: #dedede;
  border-radius: 50%;
  color: #888;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 41px;
  font-style: italic;
  font-weight: 200;
  height: 80px;
  line-height: 80px;
  margin: 10px;
  text-align: center;
  text-indent: -10px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 80px;
}

.member-card__contact-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.member-card__contact-list-item {
  display: block;
  margin-bottom: 10px;
  min-height: auto;
  padding: 0;
}

.member-card__contact-list-item a {
  color: #555;
  font-weight: 200;
  text-decoration: none;
}

.member-card__contact-list .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 8px;
}

.member-card__footer {
  display: none;
}

@media only screen and (max-width: 800px) {
  .single-member .member-card {
    width: auto;
  }

  .member-card__or,
  .member-card__phone {
    display: none;
  }

  .member-card__contact-list {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .member-list__header-card-title {
    padding: 7px 10px;
  }

  .member-list__header-card-title h2 {
    font-size: 22px;
  }

  .member-card {
    width: auto;
  }

  .member-card__title {
    padding: 9px;
  }

  .member-card__title h2 {
    font-size: 18px;
  }

  .member-card__title .member-card__chips {
    display: none;
  }

  .member-card__body {
    padding-bottom: 0;
  }

  .member-card__footer {
    display: block;
    padding-top: 0;
  }

  .member-card__phone {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .member-card__contact-list {
    margin-left: 10px;
  }

  .member-card__contact-list-item {
    font-size: 12px;
  }
}
