.search-header {
  color: #0776a9;
  font-family: 'Ultra', serif;
  font-size: 90px;
  margin: 20px 0 0 0;
  text-align: center;
  text-shadow: -0.02em 0.02em #ddd,
               -0.04em 0.04em #e8a0a0;
  text-transform: uppercase;
}

.search-subheader {
  color: #015d88;
  font-family: 'Kadwa', serif;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: -14px;
  text-align: center;
  text-shadow: -0.02em 0.02em #ddd,
               -0.04em 0.04em #e8a0a0;
}

.search-card {
  border-top: 1px solid #efefef;
  margin: 35px auto;
  min-height: auto;
  transition: margin .2s;
  width: 60%;
}

.search-card.collapsed {
  margin-top: 20px;
}

.search-card__loading-indicator {
  height: 35px;
  position: absolute;
  right: 22px;
  top: 14px;
  width: 35px;
}

.search-card_clear-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 16px;
  z-index: 2;
}

.search-card_clear-button:focus {
  outline: none;
}

.search-card_clear-button i {
  color: #888;
  font-size: 29px;
}

.search-card__search-box-container {
  position: relative;
}

.search-card__search-icon {
  color: #999;
  font-size: 40px;
  left: 16px;
  position: absolute;
  top: 14px;
  /* Make sure the search icon is below the textbox */
  z-index: 1;
}

.search-card__search-box {
  /* Make this transparent so the search icon shows through. */
  background: transparent;
  color: #555;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin: 0 auto;
  outline: none;
  padding: 15px 61px;
  position: relative;
  /* Make sure the searchbox text precedent over the search icon when clicking on it */
  z-index: 2;
  width: 100%;
}

.search-card__search-box::-webkit-input-placeholder {
  color: #ccc;
}

.search-card__search-box::-moz-placeholder {
  color: #ccc;
}

.search-card__search-box:-ms-input-placeholder {
  color: #ccc;
}

.search-card__search-box:-moz-placeholder {
  color: #ccc;
}


.search-card__search-results-header {
  background-color: #03a9f4;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding: 0 0 10px 0;
  text-align: center;
}

.search-card__search-results-header a {
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}

.search-card__search-results-header .search-card__state-icon {
  font-size: 50px;
  position: relative;
  top: 6px;
}

.search-card__slow-search-header {
  background: #0776a9;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  padding: 20px;
  text-align: center;
}

.search-card__slow-search-header i {
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle;

  animation-name: slow-search-spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slow-search-spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.search-card__search-results {
  margin: 0;
}

.search-card__search-result {
  height: 49px;
  margin: 0;
  padding: 14px 30px 0 30px;
}

.search-card__search-result:hover {
  background: #efefef;
}

.search-card__search-result a {
  color: #555;
  text-decoration: none;
  width: 100%;
}

.search-card__search-result .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 10px;
}

.search-help {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.search-help__title-text {
  color: #999;
  font-family: 'Kadwa', serif;
  margin: 10px 10px 10px 20px;
}

.search-help a {
  color: #ccc;
  font-weight: 100;
}

.search-help__title {
  color: #666;
  padding: 22px;
}

.search-help__search-options {
  color: #888;
  font-family: 'Kadwa', serif;
  font-size: 19px;
  font-weight: 100;
  margin: 0 0 20px 40px;
  padding: 0;
}

.search-help__search-options li {
  margin-bottom: 14px;
}

.search-help__search-options li i {
  color: #bbb;
  margin-top: -3px;
  vertical-align: middle;
}

.search-no-results {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.search-no-results__clear-button {
  font-size: 15px;
  font-weight: 100;
  margin-left: 10px;
}

.search-card__search-results-footer {
  background: #0776a9;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  padding: 20px;
}

@media only screen and (max-width: 1700px) {
  .search-header {
    font-size: 70px;
  }
}

@media only screen and (max-width: 900px) {
  .search-header {
    font-size: 60px;
  }

  .search-subheader {
    font-size: 22px;
  }

  .search-card {
    width: 97%;
  }

  .search-card__search-icon {
    font-size: 25px;
    left: 7px;
    top: 7px;
  }

  .search-card__search-box {
    font-size: 20px;
    padding: 7px 35px;
  }

  .search-card__search-results-header {
    font-size: 15px;
    padding: 10px 10px 12px 10px;
  }

  .search-card__search-results-header .search-card__state-icon {
    font-size: 30px;
    top: 3px;
  }

  .search-card_clear-button {
    right: 6px;
    top: 2px;
  }

  .search-card__loading-indicator {
    height: 20px;
    right: 12px;
    top: 8px;
    width: 20px;
  }

  .search-card__search-results {
    margin: 5px 0;
    max-height: none;
  }

  .search-card__search-result {
    height: 46px;
    padding: 14px 13px 0 13px;
  }
}

@media only screen and (max-width: 650px) {
  .search-header {
    font-size: 27px;
    margin-top: 14px;
    text-shadow: none;
  }

  .search-subheader {
    display: none;
  }

  .search-card {
    margin-top: 10px;
  }

  .search-help__title {
    padding: 15px;
  }

  .search-help__title-text {
    font-size: 16px;
    margin: 5px 10px;
    text-shadow: none;
  }

  .search-help__search-options {
    font-size: 13px;
    margin: 0 0 12px 15px;
  }

  .search-help__search-options li {
    margin-bottom: 6px;
  }

  .search-help__search-options li i {
    font-size: 12px;
  }

  .search-help a {
    display: inline-block;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-decoration: none;
    white-space: nowrap;
  }

  .search-card__search-results-header .search-card__state-icon {
    display: none;
  }

  .search-card__search-results-header {
    padding: 10px;
  }
}
