<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">

  <script src="https://apis.google.com/js/platform.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">

  <title>
    Contact Congress | congress.gripe
  </title>
</head>
<body ng-app="CongressApp">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="site-header mdl-layout__header mdl-color--blue-grey-600">
      <div class="mdl-layout__header-row">
        <a href="/" class="mdl-layout-title">
          <i class="material-icons site-header__icon">account_balance</i>
          Contact a Congress Member
        </a>
      </div>
    </header>

    <main class="mdl-layout__content" ng-view autoscroll>
    </main>
  </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
</script>
</html>
