<!DOCTYPE html>
<html>
<head>
  <script src="/assets/javascripts/app.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <link rel="stylesheet" href="/assets/stylesheets/main.css" />
</head>
<body ng-app="CongressApp">
  <div ng-controller="MembersController as membersCtrl" ng-cloak>
    <input id="search-box"
           ng-model="membersCtrl.currentSearch"
           ng-model-options="{ debounce: 100 }"
           placeholder="Search for a member of congress"
           ng-class="membersCtrl.getSearchBoxClass()" />

    <ul id="member-list">
      <li ng-repeat="member in membersCtrl.currentMembers">
        {{member.firstname}}
        {{member.lastname}}
        <button ng-click="membersCtrl.showMore(member)">
          More
        </button>
      </li>
    </ul>

    <div class="more-box" ng-show="membersCtrl.current">
      <h1>
        {{membersCtrl.current.person.firstname}}
        {{membersCtrl.current.person.lastname}}
      </h1>

      {{membersCtrl.current.party}}
      {{membersCtrl.current.title_long}}
      ({{membersCtrl.current.state}})

      <p>
        <span id="hangout-placeholder"></span>
      </p>

      <p>
        <button ng-click="membersCtrl.closeMore()">
          Close
        </button>
      </p>
    </div>
  </div>
</body>
</html>
