<div class="member-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title member-card__title">
    <h1 class="mdl-card__title-text">
      {{memberCardCtrl.getMemberName()}}
    </h1>

    <div class="member-card__chips">
      <span class="mdl-chip mdl-chip--contact member-card__state-chip"
            ng-if="memberCardCtrl.isDistrictChipVisible()">
        <a href="{{memberCardCtrl.getDistrictUrl()}}">
          <span class="member-card__district-chip-number mdl-chip__contact mdl-color--blue-grey-700 mdl-color-text--white">
            {{memberCardCtrl.member().district}}
          </span>
          <span class="mdl-chip__text">
            District
          </span>
        </a>
      </span>

      <span class="mdl-chip mdl-chip--contact member-card__state-chip"
            ng-if="memberCardCtrl.isStateChipVisible()">
        <a href="{{memberCardCtrl.getStateUrl()}}">
          <span class="mdl-chip__contact mdl-color--blue-grey-600 mdl-color-text--white">
            <i class="member-card__state-chip-icon"
              ng-class="memberCardCtrl.getStateChipIconClass()"></i>
          </span>
          <span class="mdl-chip__text">
            {{memberCardCtrl.member().customData.fullStateName}}
          </span>
        </a>
      </span>

      <span class="mdl-chip mdl-chip--contact member-card__party-chip">
        <span class="member-card__district-chip-party mdl-chip__contact mdl-color-text--white"
              ng-class="memberCardCtrl.getPartyChipClass()">
          {{memberCardCtrl.getPartyChipParty()}}
        </span>
        <span class="mdl-chip__text">
          {{memberCardCtrl.member().title_long}}
        </span>
      </span>
    </div>
  </div>

  <div class="mdl-card__supporting-text">
    <img class="member-card_contact-picture"
         ng-src="https://www.govtrack.us/data/photos/{{memberCardCtrl.member().person.id}}-100px.jpeg"
         width="100" />

    <div class="member-card__phone">
      <i class="material-icons member-card__phone-icon">phone</i>
      <div class="member-card__hangout-button">
        <p>Call now for free</p>
        <hangout-button phone-number="memberCardCtrl.member().phone"></hangout-button>
        <p>{{memberCardCtrl.member().phone}}</p>
      </div>
    </div>

    <div class="member-card__or">
      or
    </div>

    <ul class="mdl-list member-card__contact-list">
      <li class="mdl-list__item member-card__contact-list-item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">mail</i>
          <a href="{{memberCardCtrl.member().extra.contact_form}}">
            Contact by email
          </a>
        </span>
      </li>

      <li class="mdl-list__item member-card__contact-list-item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">public</i>
          <a href="{{memberCardCtrl.member().website}}">
            Visit Website
          </a>
        </span>
      </li>

      <li class="mdl-list__item member-card__contact-list-item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">play_circle_filled</i>
          <a href="https://www.youtube.com/user/{{memberCardCtrl.member().person.youtubeid}}">
            Visit YouTube Account
          </a>
        </span>
      </li>
    </ul>

    <p>
      <span id="hangout-placeholder"></span>
    </p>
  </div>
</div>
