<div id="member-card"
     class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">
      {{memberCtrl.member.person.firstname}}
      {{memberCtrl.member.person.lastname}}
    </h1>

    <span id="member-card__party-chip"
          class="mdl-chip mdl-chip--contact">
      <span class="mdl-chip__contact mdl-color--red mdl-color-text--white"
            ng-class="memberCtrl.getPartyChipClass()">
        {{memberCtrl.getPartyChipParty()}}
      </span>
      <span class="mdl-chip__text">
        {{memberCtrl.member.title_long}}
      </span>
    </span>
  </div>

  <div class="mdl-card__supporting-text">

    <img ng-src="https://www.govtrack.us/data/photos/{{memberCtrl.member.person.id}}-100px.jpeg"
         width="100" />

    <p>
      <span id="hangout-placeholder"></span>
    </p>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a href="/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Search again
    </a>
  </div>
</div>
