<section class="member-list">
  <div class="member-list__header-card mdl-card mdl-shadow--2dp mdl-color--light-blue-500">
    <div class="mdl-card__title member-list__header-card-title">
      <h2 class="mdl-card__title-text">
        Senators
      </h2>
    </div>
  </div>

  <member-card member="senator" ng-repeat="senator in stateCtrl.senators"></member-card>

  <div class="member-list__header-card mdl-card mdl-shadow--2dp mdl-color--light-blue-500">
    <div class="mdl-card__title member-list__header-card-title">
      <h2 class="mdl-card__title-text">
        Representatives
      </h2>
    </div>
  </div>

  <member-card member="representative" ng-repeat="representative in stateCtrl.representatives"></member-card>
</section>
